@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype' );
    font-weight: normal;
}

/*O root é aonde tudo que for para o programa inteiro, deve ser colocado aqui. Por exemplo você pode colocar variáveis.*/
:root
 {
    --cor0: black;
    --cor1: white;
    --cor2: #21FD8E;
    --cor3: #1EE348;
    --cor4: #3FFA2E;
    --cor5: #73E31E;
    --cor6: #CDFD21;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

/* O * É a configuração global do CSS. Ele serve para todas as configurações.*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.295);
}

header > p {
    color: var(--cor1);
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50çx;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.295);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.616);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor0);
}

main {
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 25px;
    box-shadow: 0px 0px 10px hwb(0 0% 100% / 0.548);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    padding: 2px 6px;
    color: var(--cor5);
    font-weight: bold;
}

main a {
    padding: 2px 6px;
    background-color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
}

main a:hover {
    background-color: var(--cor0);
    color: var(2);
    text-decoration: underline;
}

main img {
    width: 80%;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

section > h1 {
    color: var(--cor0);
    font-family: var(--fonte-android);
    font-weight: normal;
}

section > h2 {
    color: var(--cor0);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 8px;
}

div.video {
    background-color: var(--cor6);
    margin-bottom: 20px;
    margin-left: -25px;
    margin-right: -25px;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe { 
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside h3{
    background-color: var(--cor5);
    color: var(--cor1);
    padding: 5px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: circle;
    list-style-position: inside;
    columns: 2;

}

aside strong {
    color: var(--cor1);
}

footer {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    font-size: 0.8em;
    padding: 4px;
}

footer a {
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor6);
}